{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<style>
table, th, td {
  border: 1px solid;
}
</style>
<div id='fuel_images' class='dual-column'>
<div id='fuel_img1'>
<img style="width: 30%;" src='{{ url_for('static', filename='images/test1.jpg') }}'>
</div>
</div>

<div id=fuel_wrapper' class='dual-column'>
<span style='font-family:consolas'>
<div id='fuel_stats'>
<table id='fuel_stats' style="text-align: center; border: 1px solid;" width=50%>
<tr>
<th>Product: </th>
<th>Lowest price: </th>
<th>Average: </th>
</tr>
<tr>
<td>{{ apiCall[0] }}</td>
<td>{{ apiCall[1] }}</td>
<td>{{ apiCall[2] }}</td>
</tr>
</table>
</div>

</table>
</div>

{% endblock %}
