{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<style>
#fuel_img1: {width: 100px;}
</style>
<div id='fuel_images' class='dual-column'>
<div id='fuel_img1'>
<img style="width: 300px;" src='{{ url_for('static', filename='images/test1.jpg') }}'>
</div>
</div>

<div id=fuel_wrapper' class='dual-column'>
<span style='font-family:consolas'>
<div id='fuel_stats'>
<table id='fuel_stats' width=90%>
<tr>
<th>Product ID: </th>
<th>Lowest price: </th>
<th>Average: </th>
</tr>
<tr>
<td>{{ apiCall[0] }}</td>
<td>{{ apiCall[1] }}</td>
<td>{{ apiCall[2] }}</td>
</tr>
</table>
</div>

</table>
</div>

{% endblock %}
